#message-div {
    font-size: 22px;
    padding: 30px 0 10px;
    line-height: 200%;
}

#error-code-span {
    font-weight: bold;
    font-size: 30px;
}

#message-url {
    background-color: lightyellow;
    border: 5px solid lightyellow;
    border-radius: 10px;
    font-weight: lighter;
}

#retry-div {
    font-size: 20px;
    padding-bottom: 30px;
}

#input-url-div {
    padding: 10px 0;
}

$main-color: #07F;

#right-arrow {
    color: $main-color;
}

#input-btn-div {
    padding: 10px 0;
}

#key-input {
    border: none;
    border-bottom: 2px solid black;
    width: calc(100% - 135px);
    max-width: 300px;
    -webkit-transition: border-bottom 0.6s;
    transition: border-bottom 0.6s;
    &:focus {
        border-bottom: 2px solid $main-color;
    }
}

#go-btn {
    letter-spacing: 0.5px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:hover, &:focus, &:active {
        border: 1px solid $main-color;
        color: $main-color;
    }
    &:active {
        transform: scale(0.9);
    }
}
